.contenedorItem{
    width: auto;
    display: flex;
    text-align: center;
    border: 2px solid #e3e1e1;
    border-radius: 1rem;
    margin: 3.5rem;
    padding: 2.5rem;
}

.imgDetail{
    height: 40vw;
    width: auto;
    border-radius: 2rem;
}

.infoDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: justify;
    margin: 3rem;
}
.infoDetail p{
    font-size: 1.5rem;
    margin: 3rem;
}
.dataDetail{
    font-size: 3rem;
    font-weight: bold;
    text-align: justify;
}