/* card de los productos */
.cardProducto{
    background-color: rgb(219, 219, 219);
    border-radius: 1rem;
    width: 25rem;
    padding: 1.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.imgProducto{
    width: 15rem;
    object-fit: contain;
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
}
.nombreProducto{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.precioProducto{
    font-size: 2rem;
    font-weight: bold;
}

.linkProducto{
    text-align: center;
    text-decoration: none;
    background-color: rgb(1, 181, 121);
    color: azure;
    font-size: 1.5rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-items: flex-end;
}
.linkProducto:hover{
    background-color: rgb(1, 135, 91);
    transform: scale(1.1);
    transition: all 0.3s;
}