

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    row-gap: 1rem;
}

.dataForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}