
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1rem solid rgb(0, 255, 255);
    background-color: azure;
    opacity: 0.97;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding-right: 1.5rem;
}

.imgLogo{
    width: 7.5rem;
}
.textLogo{
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(3, 159, 159);
}
.logoYTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100vh;
}
.navbar-toggler{
    background-color: rgb(0, 255, 255);
    color: rgb(3, 159, 159);
    margin-left: 1rem;
    width: auto;
}
.navbar .container-fluid{
    display: flex;
    justify-content: center;
}
.navbar .navbar-expand-lg{
    min-width: 100px;
}

li{
    margin: 1rem;
}
li a{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(3, 159, 159);
}
li a:hover{
    color: black;
}

.nav-link{
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(3, 159, 159);
}

.nav-item{
    display: flex;
}
.icon{
    width: 3rem;
    height: 3rem;
}

@media(min-width: 576px){
    .logoYTexto{
        flex-direction: row;
    }
    .textLogo{
        font-size: 3rem;
        color: rgb(3, 159, 159);
        margin-left: 0.4rem;
        white-space: nowrap;
    }
}
@media(min-width: 992px){
    .logoYTexto{
        margin-left: 10rem;
        margin-right: 5rem;
    }
}