
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1rem solid rgb(0, 255, 255);
    background-color: azure;
    opacity: 0.97;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.imgLogo{
    width: 7.5rem;
    margin-right: 5%;
}

.textLogo{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(3, 159, 159);
    margin-left: 0.2rem;
}

nav{
    width: 100vh;
}
.navbar-toggler{
    background-color: rgb(0, 255, 255);
    color: rgb(3, 159, 159);
    margin-left: 1rem;
    width: auto;
}
.navbar .container-fluid{
    display: flex;
    justify-content: center;
}
.navbar .navbar-expand-lg{
    min-width: 300px;
}

li{
    margin: 1rem;
}
li a{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(3, 159, 159);
}
li a:hover{
    color: black;
}

.nav-link{
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(3, 159, 159);
}