
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 10px solid rgb(0, 255, 255);
    background-color: azure;
    opacity: 0.97;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    flex-wrap: wrap;
}

.imgLogo{
    width: 75px;
    margin-right: 5%;
}

.textLogo{
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    color: rgb(3, 159, 159);
}

nav{
    width: 100vh;
}
.navbar-toggler{
    background-color: rgb(0, 255, 255);
    color: rgb(3, 159, 159);
    margin-left: 10px;
    width: auto;
}
.navbar .container-fluid{
    display: flex;
    justify-content: center;
}
.navbar .navbar-expand-lg{
    min-width: 300px;
}

li{
    margin: 1rem;
}
li a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(3, 159, 159);
}
li a:hover{
    color: black;
}

.nav-link{
    font-weight: 600;
    color: rgb(3, 159, 159);
}