
.contenedorProductoCart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0  2rem 2rem 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #e3e1e1;;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}
.imgCart{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
}
.imgYDetalleCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
h4{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
.productoCart{
    display: flex;
    flex-direction: column;
}
.precioProductoCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnEliminar{
    text-align: center;
    text-decoration: none;
    background-color: rgb(181, 1, 1);
    color: azure;
    font-size: 1.5rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-items: flex-end;
}
.btnEliminar:hover{
    background-color: rgb(151, 0, 0);
    transform: scale(1.1);
    transition: all 0.3s;
}


@media(min-width: 576px){
    .contenedorProductoCart{
        display: flex;
        flex-direction: row;
    }
    .imgYDetalleCart{
        flex-direction: row;
    }
}
