*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* Font size: 10px = 1em */
html{
    font-size: 62.5%;
}


.App {
    text-align: center;
}


/* menor a 200px empieza a romper */
body{
    padding-top: 20rem;
}

.contenedorProductos{
    margin-left: 10%;
    margin-right: 10%;
}

@media(min-width: 228px){
    body{
        padding-top: 16rem;
    }
}
@media(min-width: 576px){
    body{
        padding-top: 10rem;
    }
}
